# Dependencies
node_modules
.pnpm-store

# Builds
dist
dist-electron
release
out
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# IDEs & System
.DS_Store
Thumbs.db
.vscode
.idea

# Local PRD Document
Prd_Docx2Markdown.md
